.navContainer {
    width: 100%;
    height: max-content;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    padding: 20px 10px;
    position: relative;
    background-color: #92c9c7;

    .navLogo {
        width: 170px;
        height: max-content;

        img {
            width: 100%;
            height: 100%;
        }
    }

    .inputWrapper {
        width: 200px;
        height: 30px;
        border-radius: 3px;
        position: relative;
        background-color: #8fa38a; 

        .searchIcon {
            position: absolute;
            height: 20px;
            width: 20px;
            right: 0;
            top: 5px;
            cursor: pointer;
            color: #020402; 
        }
        input {
            height: 100%;
            width: 100%;
            padding-left: 5px;
            font-size: 16px;
            border-radius: 3px;
            border: 1px solid #647a67; 
            background-color: lightblue;

            &:focus {
                outline: none;
                background-color: #c5efcb; 
            }
        }
    }

    .buttonsWrapper {
        width: 100px;
        display: flex;
        justify-content: space-between;

        .btn {
            background-color: transparent;
            border: none;
            cursor: pointer;
            padding: 0;

            &:nth-child(1) {
                padding-right: 40px;
            }

            .icon {
                width: 30px;
                height: 30px;
                color: #758173;
            }
        }
    }
}