@import "./styles/variables.css";

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;

  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

#root {
  height: 100%;
  display: flex;
  flex-direction: column;
}
